[Desktop Entry]
Name=Xmahjongg
Comment=Colorful solitaire Mah Jongg game
Comment[pl]=Kolorowa układanka Mah Jongg
Icon=xmahjongg
Exec=xmahjongg
Terminal=false
Type=Application
Categories=Game;BoardGame;
# vi: encoding=utf-8
